@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");
:root {
    --normal-font: 400;
    --bold-font: 600;
    --bolder-font: 900;
    --primary-color: #4CAF50;  /* Updated primary color */
    --secondary-color: #FF9800; /* Updated secondary color */
    --line-height: 1.7rem;
    --transition: 0.4s ease-in;
}

/* Smooth scroll effect */
html {
    scroll-behavior: smooth;
}

/* Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: var(--transition);
}

body {
    font-family: "Roboto", sans-serif;
}

ul li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

a:hover {
    color: var(--secondary-color);
}

.fist {
    color: var(--secondary-color);
}

.jab {
    color: var(--primary-color);
}

.tv {
    color: var(--secondary-color);
}

nav {
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    box-shadow: 2px 3px 2px #f1f1f1;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.hamburger .bar {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
}

.logo {
    font-size: 2rem;
    font-weight: 500;
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

li {
    margin-left: 2.5rem;
}

.nav-link {
    text-transform: capitalize;
}

.nav-link:hover {
    border-bottom: 1px


    @media (max-width: 768px) {
        nav ul {
            display: none;
            flex-direction: column;
            align-items: center;
            width: 100%;
        }
    
        nav ul.show {
            display: flex;
        }
    
        .hamburger {
            display: block;
        }
    
        .hamburger .bar {
            display: block;
            width: 25px;
            height: 3px;
            background-color: #333;
            margin: 5px auto;
            transition: all 0.3s ease-in-out;
        }
    }
    